@using System.Web.Optimization

@model HotCar.WebUI.Frontend.Models.UserModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

@section Scripts{
    @Scripts.Render("~/bundles/UserAccount/scripts")
}

@section Styles{
    @Styles.Render("~/Content/jednotka/UserAccount/css")
}

<!--не підтягуються такі стилі для меню з бандлу!!!!!-->
<style>
.appl-menu,
.settings-menu,
.trips-menu,
.comments-menu {
    line-height: 40px;
    right: -60px;
    width: 80px;
}

.selected-menu{
     right: -80px;
     text-align: center;
}
</style>




<div class="all-content">
    <div class="user-page-content">

    <!--menu-->
        <div class="style-switcher">
            <div class="style-switcher-heading">
                <i class="fa-icon-wrench settings-menu" id="settings-menu"></i>
            </div>
        </div>
        <div class="style-switcher">
            <div class="style-switcher-heading">
                <i class="fa-icon-group appl-menu" id="appl-menu"></i>
            </div>
        </div>
        <div class="style-switcher">
            <div class="style-switcher-heading">
                <i class="fa-icon-truck trips-menu" id="trips-menu"></i>
            </div>
        </div>
        <div class="style-switcher">
	        <div class="style-switcher-heading">
		        <i class="fa-icon-comments comments-menu" id="comments-menu"></i>
	        </div>
        </div>
    <!--end menu-->

    <!--short main information for user-->
        <div class="user-account-short-info">
            <div class="container">
                <br />
                <div class="row panels">
                    <br />
                    <div class="col-sm-4 panel-item">
                        <img id="user-photo" src="~/Content/images/1.jpg">
                    </div>
                    <br />
                    <div class="col-sm-8 panel-item">
                        <div class="col-sm-5 panel-item user-status-info">
                            <div>
                                <i class="fa-icon-group text-contrast fa-icon-fixed-width"></i>
                                <span> Нові заявки: </span>
                                <span>змінити</span>
                            </div>
                            <br />
                            <div>
                                <i class="fa-icon-comments-alt text-contrast fa-icon-fixed-width"></i>
                                <span> Прокоментували: </span>
                                <span> asd @*@Model.CommentsAboutYou.Length*@</span>
                            </div>
                            <br />
                            <div>
                                <i class="fa-icon-truck text-contrast fa-icon-fixed-width"></i>
                                <span id=""> Мої поїздки: </span>
                                <br />
                                <br />
                                <span class="trips-info">
                                    <i class="fa-icon-suitcase text-contrast fa-icon-fixed-width"></i>
                                    <span> Актуальні: </span>
                                    <span>@Model.ActualTrips.Length</span>
                                </span>
                                <br />
                                <br />
                                <span class="trips-info">
                                    <i class="fa-icon-ok text-contrast fa-icon-fixed-width"></i>
                                    <span> Минулі: </span>
                                    <span>@Model.OutDatedTrips.Length</span>
                                </span>
                            </div>
                            <br />
                        </div>
                        <br />
                        <div class="col-sm-6 panel-item user-info">
                            <div>
                                <div>
                                    <i class="fa-icon-unlock-alt text-contrast fa-icon-fixed-width"></i>
                                    @{
                                        var fullName = @Model.UserInfo.FirstName + " " + @Model.UserInfo.SurName;
                                    }
                                    <span class="user-name active-info">@fullName</span>
                                </div>
                                <br />
                                <div>
                                    <i class="fa-icon-user text-contrast fa-icon-fixed-width"></i>
                                    <span>@Model.UserInfo.Login</span>
                                </div>
                                <br />
                                <div>
                                    <i class="fa-icon-envelope-alt text-contrast fa-icon-fixed-width"></i>
                                    <span>@Model.UserInfo.Mail</span>
                                </div>
                                <br />
                                <div>
                                    <i class="fa-icon-phone text-contrast fa-icon-fixed-width"></i>
                                    <span>@Model.UserInfo.Phone</span>
                                </div>
                                <br />
                                <div>
                                    <i class="fa-icon-calendar text-contrast fa-icon-fixed-width"></i>
                                    <span>@Model.UserInfo.Birthday.Value.ToString("d")</span>
                                </div>
                                <br />
                            </div>
                        </div>
                        <br />
                        <div class="col-sm-10 panel-item">
                            <div id="about-user">
                                <i class="fa-icon-comment-alt text-contrast fa-icon-fixed-width" id="about-user-picture"></i>
                                <p>@Model.UserInfo.AboutMe</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--end short main information for user-->

    <!--settings content-->
        <hr class="text-contrast"/>
        <div class="current-active-menu">
            <i class="fa-icon-wrench text-contrast fa-icon-fixed-width current-menu-active-picture"></i>
            <span>Налаштування</span>
        </div>
        <div class="settings-content hide-content" id="settings-content">
            <br/>
            <div class="container">
            <div class="row panels">
                <div class="col-sm-3 panel-item">
                    <a class="panel panel-big" href="#">
                        <div class="panel-icon">
                            <i class="fa-icon-certificate"></i>
                        </div>
                        <div class="panel-body">
                            <h3 class="panel-title">Ім'я</h3>
                            <p>Остап</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 panel-item">
                    <a class="panel panel-big" href="#">
                        <div class="panel-icon">
                            <i class="fa-icon-cog"></i>
                        </div>
                        <div class="panel-body">
                            <h3 class="panel-title">Прізвище</h3>
                            <p>Панькевич</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 panel-item">
                    <a class="panel panel-big" href="#">
                        <div class="panel-icon">
                            <i class="fa-icon-calendar"></i>
                        </div>
                        <div class="panel-body">
                            <h3 class="panel-title">День народження</h3>
                            <p>14.08.1993</p>
                        </div>
                    </a>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row panels">
                <div class="col-sm-3 panel-item">
                    <a class="panel panel-big" href="#">
                        <div class="panel-icon">
                            <i class="fa-icon-user"></i>
                        </div>
                        <div class="panel-body">
                            <h3 class="panel-title">Логін</h3>
                            <p>ostappankevych</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 panel-item">
                    <a class="panel panel-big" href="#">
                        <div class="panel-icon">
                            <i class="fa-icon-envelope-alt"></i>
                        </div>
                        <div class="panel-body">
                            <h3 class="panel-title">емейл</h3>
                            <p>ostappankevych@gmail.com</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 panel-item">
                    <a class="panel panel-big" href="#">
                        <div class="panel-icon">
                            <i class="fa-icon-phone"></i>
                        </div>
                        <div class="panel-body">
                            <h3 class="panel-title">Телефон</h3>
                            <p>+380673997503</p>
                        </div>
                    </a>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row panels">
                <div class="row panels">
                    <div class="col-sm-9 panel-item">
                        <a class="panel panel-big" href="#">
                            <div class="panel-icon">
                                <i class="fa-icon-comment-alt"></i>
                            </div>
                            <div class="panel-body">
                                <h3 class="panel-title">Про мене</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan leo tellus. Nulla fringilla elementum nisl, vitae faucibus risus. Donec ut tristique eros. Curabitur mattis auctor turpis. </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <br/>
        </div>
        </div>
    <!--end settings content-->


    <!--comments content-->
        <hr class="text-contrast"/>   
        <div class="current-active-menu">
            <i class="fa-icon-comments-alt text-contrast fa-icon-fixed-width current-menu-active-picture"></i>
            <span>Коментарі</span>
        </div>
        <div class="hide-content" id="comments-content">
            <hr class="text-contrast"/>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs tabs">
                        <li class="active">
                            <a data-toggle="tab">
                                <i class="fa-icon-mail-reply text-contrast"></i>
                                Мої
                                <span> (</span>
                                <span>56</span>
                                <span> )</span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab">
                                <i class="fa-icon-share-alt text-contrast"></i>
                                Про мене
                                <span> (</span>
                                <span>23</span>
                                <span> )</span>
                            </a>

                        </li>
                    </ul>
                    <br/>
                    <br/>
                    <div class="media animation-comments">
                        <div class="pull-left">
                            <div class="media-object without-image"></div>
                        </div>
                        <div class="media-body">
                            <div class="content">
                                <div class="toolbar">
                                    <h4 class="title text-contrast">Панькевич Остап</h4>
                                    <a class="btn btn-link link-contrast btn-sm" href="#">
                                        <i class="fa-icon-truck"></i>
                                        <span>подорож</span>
                                    </a>
                                    <p class="comments-participants-count">
                                        <i class="fa-icon-group text-contrast"></i>
                                        <span>учаників ( </span>
                                        <span class="count-participants text-contrast"> 3 </span>
                                        <span> ) </span>
                                    </p>
                                </div>
                                <p>Praesent sed viverra lacus. Aliquam congue porttitor ipsum sed vulputate. Nam lacus nunc, malesuada a massa sed, commodo placerat sem.</p>
                                <p>
                                    <i class="fa-icon-calendar text-contrast"></i>
                                    <span> 17.05.2014 </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--end comments content-->
        
    <!--trips content-->
        <hr class="text-contrast"/>
        <div class="current-active-menu">
            <i class="fa-icon-truck text-contrast fa-icon-fixed-width current-menu-active-picture"></i>
            <span>Поїздки</span>
        </div>
        <div class="hide-content" id="trips-content">
        <hr class="text-contrast"/>
        <div class="row text-box text-box-title-above text-box-big-image">
            <ul class="nav nav-tabs tabs">
                <li class="active">
                    <a data-toggle="tab">
                        <i class="fa-icon-suitcase text-contrast"></i>
                        Актуальні
                        <span> (</span>
                        <span>@Model.ActualTrips.Length</span>
                        <span> )</span>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab">
                        <i class="fa-icon-ok text-contrast"></i>
                        Минулі
                        <span> (</span>
                        <span>@Model.OutDatedTrips.Length</span>
                        <span> )</span>
                    </a>
                </li>
            </ul>
            @foreach (HotCar.Entities.Trip trip in @Model.ActualTrips)
            {
                <div class="col-sm-6 animation">
                    <hr class="hr-half">
                    <span class="title">
                        <a href="#">@trip.LocationAddresses[0] - @trip.LocationAddresses[@trip.LocationAddresses.Count - 1]</a>
                    </span>
                    <br/>
                    <br/>
                    <span class="cost-block">
                        <i class="fa-icon-usd text-contrast"></i>
                        <span> Ціна</span>
                        <span class="cost text-contrast">@trip.CostOneSeat.ToString("0.##")</span>
                        <span> грн</span>
                    </span>
                    <span class="trip-time-block">
                        <i class="fa-icon-time text-contrast"></i>
                        <span>@trip.TripTime.Hour.ToString("D2"):@trip.TripTime.Minute.ToString("D2")</span>
                    </span>
                    <span class="trip-date-block">
                        <i class="fa-icon-calendar text-contrast"></i>
                        <span>@trip.TripTime.ToString("d")</span>
                    </span>
                    <br/>
                    <span>
                        <i class="fa-icon-group text-contrast"></i>
                        <span>Учасників: </span>
                        <span></span>
                        <span>4 !!!!!!!!!!!</span>
                        <span> / </span>
                        <span>@trip.AvailablePlacesCount</span>
                    </span>
                    <a class="btn btn-link link-contrast btn-sm trip-more" href="#">
                        <i class="fa-icon-truck"></i>
                        <span>Детальніше</span>
                    </a>
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="blog_single_post.html">
                                <img class="img-responsive center-block img-rounded-half" alt="Cras tempus ligula a tempor adipiscing" maxwidth="842" maxheight="364" src="~/Content/images/FindTrip/map.png">
                            </a>
                        </div>
                    </div>
                    <a href="#">
                        <i class="fa-icon-user"></i>
                        <span>@Model.UserInfo.FirstName @Model.UserInfo.SurName</span>
                    </a>
                </div>
            }
        </div>
    </div>
        <br/>
        <hr class="hr-half">
    <!--end trip content-->
        
    <!--application to trips-->
        <br/>
        <div class="current-active-menu ">
            <i class="fa-icon-group text-contrast fa-icon-fixed-width current-menu-active-picture"></i>
            <span>Нові заявки</span>
        </div>
        <div class="hide-content" id="appl-content">
            <div class="row text-box text-box-title-above text-box-big-image">
                <div class="col-sm-12">
                    <hr class="text-contrast" />
                    <div class="col-sm-4 appl-trip-detail">
                        <span class="title">
                        <a href="#">Львів - Київ</a>
                            </span>
                        <br/>
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="blog_single_post.html">
                                    <img class="img-responsive center-block img-rounded-half" alt="Cras tempus ligula a tempor adipiscing" maxwidth="848" maxheight="364" src="~/Content/images/FindTrip/map.png">
                                </a>
                            </div>
                        </div>
                        <br/>
                        <a href="#">
                            <i class="fa-icon-user"></i>
                            <span>Панькевич Остап</span>
                        </a>
                    </div>
                    <br/>
                    <br/>
                    <div class="col-sm-3 appl-trip-detail">
                        <div>
                            <i class="fa-icon-usd text-contrast"></i>
                            <span> ціна ( </span>
                            <span class="text-contrast">300</span>
                            <span> ) </span>
                            <span> грн</span>
                        </div>
                        <br/>
                        <div>
                            <i class="fa-icon-time text-contrast"></i>
                            <span>08:00</span>
                        </div>
                        <br/>
                        <div>
                            <i class="fa-icon-calendar text-contrast"></i>
                            <span>21.09.2015</span>
                        </div>
                        <br/>
                        <div>
                            <i class="fa-icon-group text-contrast"></i>
                            <span>учасників: </span>
                            <span></span>
                            <span>4</span>
                            <span> / </span>
                            <span>5</span>
                        </div>
                        <br/>
                        <a class="btn btn-link link-contrast btn-sm appl-trip-more" href="#">
                            <i class="fa-icon-truck"></i>
                            <span>більше</span>
                        </a>
                        <br/>
                    </div>
                    <br/>
                    <div class="col-sm-4 portfolio-boxes">  
                        <div class="col-sm-6 portfolio-box">
                            <a class="image-link" href="portfolio_detail.html">
                                <i class="fa-icon-search"></i>
                                <img class="img-responsive img-rounded center-block" alt="Etiam vestibulum" width="262" height="262" src="~/Content/images/1.jpg">
                            </a>
                            <div>
                                <span>Роман</span> <span>, </span> <span>21</span> <span> р.</span>
                            </div>
                            <div>
                                <i class="fa-icon-usd text-contrast"></i>
                                <span> пропонує</span>
                                <br />
                                <span>( </span>
                                <span class="text-contrast">3000</span>
                                <span> )</span>
                                <br />
                                <span> грн</span>
                            </div>
                            <div>
                                <a class="btn btn-contrast btn-bordered btn-sm" href="#">підтвердити</a>
                            </div>
                        </div>
                    </div>
                </div>
                  
            </div>
        </div>
        <br/>
        <hr class="hr-half">
    <!--application to trips-->

    </div>
    <br/>
</div>
